
<div class="link">
  <a href="/feed/funny/best">Back to Feed</a>
  <br>
  <a href="/profile_posts/{{user._id}}">My Posts</a>
  <a href="/profile_comments/{{user._id}}">My Comments</a>
</div>

{{#each user.posts}}
<div id="pickUpLine">
  <div>{{created_at}}</div>
  <button class="upVote" id={{this._id}} score={{this.score}}>Up </button>
  <button class="downVote" id={{this._id}} score={{this.score}}>Down</button>
  <span class={{_id}}>{{score}}</span>
  <h1>
    {{content}}
  </h1>

  {{!-- Editing Post --}}
  {{#if ../isUser}}
  <a href="/post/edit/{{this._id}}">Edit my Post</a>
  {{/if}}
</div>
{{/each}}