<span class="profile-username">{{user.username}}</span>

<div class="profile-page">
  <a class="back-feed" href="/feed/funny/best">Back to Feed</a>

<div class="link">
  <a href="/profile_posts/{{user._id}}">My Posts</a>
  <a href="/profile_comments/{{user._id}}">My Comments</a>
</div>

{{#each user.posts}}
<div id="pickUpLine">

  {{!-- <div>{{created_at}}</div> --}}
  <div class = "profile-content">
  <div class ="content-vote">
  <button class="upVote" id={{this._id}} score={{this.score}}>Up </button>
  <span class={{_id}}>{{score}}</span>
  <button class="downVote" id={{this._id}} score={{this.score}}>Down</button>
  </div>
  <h1 class="content">
    {{content}}
  </h1>
  </div>
  
  {{!-- Editing Post --}}
  {{#if ../isUser}}
  <a class="profile-edit" href="/post/edit/{{this._id}}">Edit my Post</a>
  {{/if}}


</div>
{{/each}}

</div>